{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            ">0.25%",
            "not ie 11",
            "not op_mini all"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],

  "plugins": ["@babel/syntax-dynamic-import", "@babel/plugin-proposal-class-properties", "@babel/plugin-transform-runtime"],

  "env": {
    "test": {
      "plugins": [
        "dynamic-import-node",
        ["transform-es2015-modules-commonjs", {"allowTopLevelThis": true}]
      ]
    }
  }
}